@import "tailwindcss";

@theme {
  /* Color */
  --color-primary-100: #ffa994;
  --color-primary-200: #ff896d;
  --color-primary-300: #ff714f;
  --color-primary-400: #ff5b33;
  --color-primary-500: #fe481c;
  --color-primary-600: #e0421b;
  --color-primary-700: #bc3717;
  --color-primary-800: #802812;

  --color-light-purple-100: #b97aff;
  --color-light-purple-200: #ab5fff;
  --color-light-purple-300: #9345eb;
  --color-light-purple-400: #7540b0;
  --color-light-purple-500: #623594;
  --color-light-purple-600: #502a79;
  --color-light-purple-700: #3d225b;
  --color-light-purple-800: #2f1a45;

  --color-dark-purple-100: #B693EF;
  --color-dark-purple-200: #8460BE;
  --color-dark-purple-300: #5D3899;
  --color-dark-purple-400: #3A2260;
  --color-dark-purple-500: #1F1234;
  --color-dark-purple-600: #190C2F;
  --color-dark-purple-700: #160A2A;
  --color-dark-purple-800: #110523;

  --color-red-100: #ff8196;
  --color-red-200: #ff667f;
  --color-red-300: #ff516e;
  --color-red-400: #ff3456;
  --color-red-500: #ff0a33;
  --color-red-600: #dd0c2f;
  --color-red-700: #a00822;
  --color-red-800: #7d061a;

  --color-status-success: #3cda54;
  --color-status-info: #4870f3;
  --color-status-warning: #f3a20b;
  --color-status-error: #ef2928;

  /* Typography */
  --text-header-1: 32px;
  --text-header-1--line-height: 48px;
  --text-header-1--letter-spacing: 0.2px;
  --text-header-1--font-weight: 700;
  --text-header-2: 24px;
  --text-header-2--line-height: 36px;
  --text-header-2--letter-spacing: 0.2px;
  --text-header-2--font-weight: 700;
  --text-header-3: 20px;
  --text-header-3--line-height: 32px;
  --text-header-3--letter-spacing: 0.2px;
  --text-header-3--font-weight: 700;
  --text-header-4: 18px;
  --text-header-4--line-height: 28px;
  --text-header-4--letter-spacing: 0.2px;
  --text-header-4--font-weight: 700;

  --text-subtitle-1: 18px;
  --text-subtitle-1--line-height: 24px;
  --text-subtitle-1--letter-spacing: 0.2px;
  --text-subtitle-1--font-weight: 600;
  --text-subtitle-2: 16px;
  --text-subtitle-2--line-height: 24px;
  --text-subtitle-2--letter-spacing: 0.2px;
  --text-subtitle-2--font-weight: 600;
  --text-subtitle-3: 14px;
  --text-subtitle-3--line-height: 20px;
  --text-subtitle-3--letter-spacing: 0.2px;
  --text-subtitle-3--font-weight: 600;
  --text-subtitle-4: 12px;
  --text-subtitle-4--line-height: 18px;
  --text-subtitle-4--letter-spacing: 0.2px;
  --text-subtitle-4--font-weight: 600;

  --text-body-1: 18px;
  --text-body-1--line-height: 24px;
  --text-body-1--letter-spacing: 0.2px;
  --text-body-1--font-weight: 400;
  --text-body-2: 16px;
  --text-body-2--line-height: 24px;
  --text-body-2--letter-spacing: 0.2px;
  --text-body-2--font-weight: 400;
  --text-body-3: 14px;
  --text-body-3--line-height: 20px;
  --text-body-3--letter-spacing: 0.2px;
  --text-body-3--font-weight: 400;
  --text-body-4: 12px;
  --text-body-4--line-height: 18px;
  --text-body-4--letter-spacing: 0.2px;
  --text-body-4--font-weight: 400;

  --text-button-16: 16px;
  --text-button-16--line-height: 24px;
  --text-button-16--letter-spacing: 0.2px;
  --text-button-16--font-weight: 600;
  --text-button-14: 14px;
  --text-button-14--line-height: 20px;
  --text-button-14--letter-spacing: 0.2px;
  --text-button-14--font-weight: 600;
  --text-button-12: 12px;
  --text-button-12--line-height: 18px;
  --text-button-12--letter-spacing: 0.2px;
  --text-button-12--font-weight: 600;

  --text-link-18: 18px;
  --text-link-18--line-height: 26px;
  --text-link-18--letter-spacing: 0.2px;
  --text-link-18--font-weight: 600;
  --text-link-16: 16px;
  --text-link-16--line-height: 24px;
  --text-link-16--letter-spacing: 0.2px;
  --text-link-16--font-weight: 600;
  --text-link-14: 14px;
  --text-link-14--line-height: 24px;
  --text-link-14--letter-spacing: 0.2px;
  --text-link-14--font-weight: 600;

  --text-chip-label-12: 12px;
  --text-chip-label-12--line-height: 20px;
  --text-chip-label-12--letter-spacing: 0.2px;
  --text-chip-label-12--font-weight: 600;
}

.horizontal-line {
  @apply bg-white w-full h-[1px];
}

.layout-padding {
  @apply flex px-16 py-4;
}
